{"openapi":"3.0.3","info":{"version":"1.0.1","title":"NeuralSeek","description":"NeuralSeek - The business LLM accelerator","license":{"name":"End User License Agreement","url":"https://neuralseek.com/eula"},"contact":{"name":"NeuralSeek Support","url":"https://neuralseek.com","email":"support@NeuralSeek.com"},"termsOfService":"https://neuralseek.com/eula"},"servers":[{"url":"https://api.neuralseek.com/v1/{instance}","description":"NeuralSeek API server","variables":{"instance":{"default":"crn%3Av1%3Abluemix%3Apublic%3Aneuralseek%3Aus-south%3Aa%2Faba22ab032e54f40aa6ab6221161904d%3Ab3c37309-f395-46ae-b0be-957cae142183%3A%3A","description":"Your instance ID"}}}],"paths":{"/seek":{"post":{"tags":["Seek"],"summary":"Seek an answer from NeuralSeek","description":"This endpoint takes an input obect with a user question, context and options and returns a response object","operationId":"seekAnswer","requestBody":{"description":"The request object.  Must include the question and a context.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/seek"}}}},"responses":{"200":{"description":"Answer response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/seek_response"}}}}},"security":[{"api_key":[]}]}},"/categorize":{"post":{"tags":["Categorize"],"summary":"Categorize text into an Intent & Category","description":"Categorize text into an Intent & Category","operationId":"categorize","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"question":{"type":"string","description":"The text to categorize"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"intent":{"type":"string","description":"The matched Intent"},"category":{"type":"string","description":"The matched Category"},"categoryId":{"type":"integer","description":"The Category id"},"topIntents":{"type":"object","description":"If Vector Similarity is set as the Intent Match type, this will provide the top 3 matches","properties":{"score":{"type":"number","description":"The score of the intent"},"intent":{"type":"string","description":"The intent name"}}}}}}}}},"security":[{"api_key":[]}]}},"/explore":{"post":{"tags":["Explore"],"summary":"Explore with NTL or a template","description":"Freeform prompting using NeuralSeek Template Language","operationId":"explore","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"input":{"type":"string","description":"The text, including NTL, to evaluate.  Include either this or templateName"},"templateName":{"type":"string","description":"The templateName to use. Include either this or input"},"params":{"type":"array","description":"An array of parameters to use in evaluation of the NTL","items":{"type":"object","properties":{"name":{"type":"string","description":"The parameter name"},"value":{"type":"string","description":"The parameter value"}}}},"options":{"type":"object","description":"Override options","properties":{"streaming":{"type":"boolean","default":false,"description":"Return the response via SSE streaming.  This is not compatible with most Virtual Agent platforms, and is intentded for direct website use."},"llm":{"type":"string","description":"Override the LLM load balancer and force seek to use a specific LLM.  Input the LLM code here.  You must have a valid model card set up on the configure tab for the code you input."},"user_id":{"type":"string","description":"Set the user_id. Useful and required if you have a corporate document filter set"},"temperatureMod":{"type":"number","minimum":-1,"maximum":1,"description":"Shift the model's baseline temperature weighting by a percentage"},"toppMod":{"type":"number","minimum":-1,"maximum":1,"description":"Shift the model's baseline probability weighting by a percentage"},"freqpenaltyMod":{"type":"number","minimum":-1,"maximum":1,"description":"Shift the model's baseline frequency penalty weighting by a percentage"},"minTokens":{"type":"number","minimum":0,"description":"Set the minimum tokens you  want the model to produce"},"maxTokens":{"type":"number","minimum":1,"description":"Set the maximum tokens you  want the model to produce"},"returnVariables":{"type":"boolean","default":false,"description":"Return the final state of all variables in a dense object"},"returnVariablesExpanded":{"type":"boolean","default":false,"description":"Return the final state of all variables in the same format as the input params"},"returnRender":{"type":"boolean","default":false,"description":"Return the midstate renders"},"returnSource":{"type":"boolean","default":false,"description":"Return the source parts"},"maxRecursion":{"type":"integer","minimum":0,"maximum":1000,"default":10,"description":"The maximum number of recursive calls to Explore.  Use caution that you have not created an endless loop as you increase the maximum, as each Explore is charged."}}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"answer":{"type":"string","description":"The generated response"},"sourceParts":{"type":"array","items":{"type":"string"}},"render":{"type":"array","description":"The steps used to render the result.","items":{"type":"object","properties":{"node":{"type":"string","description":"The node type"},"vars":{"type":"object","description":"The variable values"},"out":{"type":"string","description":"The output"},"chained":{"type":"boolean","description":"True if the step is chained"}}}},"variables":{"type":"object","description":"The returned variable."},"variablesExpanded":{"type":"array","description":"The returned variable, in the format of the input params","items":{"type":"object","properties":{"name":{"type":"string","description":"The variable name"},"value":{"type":"string","description":"The variable value"}}}}}}}}}},"security":[{"api_key":[]}]}},"/extract":{"post":{"tags":["Extract Entities"],"summary":"Extract entitites from text","description":"Extract entitites from text","operationId":"ExtractEntities","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","description":"The text to extract entitites from"},"language":{"type":"string","description":"The 2-char language code to be used when generating a promptEntity response. Only set this if you want to override the configured language in NeuralSeek."},"entities":{"type":"string","example":"[{\"name\":\"dog-breeds\",\"description\":\"Types of Dogs\", \"format\":\"string\"}]","description":"An array of objects, stringified. The properties of the object are name, description, and format"},"slots":{"type":"object","description":"Provide an object of variable names, with a type property set to an entity type to match to in total across multiple turns of a conversation. NeuralSeek will return a promptEntity to display to the user to continue to fil the slots.  As slots are filled the value field will be populated.  Continue to send this entire filed back as input thru the multiple turns of the conversation, untill Complete is set to true.  Complete will be set to true when all slots are filled","example":"{\"zip\": {\"type\": \"zip-code\", \"description\":\"The user's zip code\", \"value\": \"\"}, \"statenm\": {\"type\": \"geo-state\", \"description\":\"The state you are traveling to\", \"value\": \"\"}}"},"confirmSlots":{"type":"boolean","description":"When using Slots, once all slots have been filled display a summary and ask for a confirmation before setting the 'complete' flag"},"confirmEverySlot":{"type":"boolean","description":"When using Slots, on every turn recite the slot that was just previously filled."}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"extractedEntities":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"string","description":"The found entity"}}}},"complete":{"type":"boolean","default":false,"description":"If slots are passed, complete will be set to true when all slots are filled"},"promptEntity":{"type":"string","description":"A message to display to the user asking them to provide input for the next group of unfilled slots."},"slots":{"type":"object","description":"If the slots parameter is filled on the input, NeuralSeek will return it and begin filling the value fields. Continue to send this entire filed back as input thru the multiple turns of the conversation, untill Complete is set to true.  Complete will be set to true when all slots are filled","example":"{\"zip\": {\"type\": \"zip-code\", \"description\":\"The user's zip code\", \"value\": \"06111\"}, \"statenm\": {\"type\": \"geo-state\", \"description\":\"The state you are traveling to\", \"value\": \"\"}}"}}}}}}},"security":[{"api_key":[]}]}},"/translate":{"post":{"tags":["Translate"],"summary":"Translate text into a desired language","description":"Translate text into a desired language","operationId":"Translate","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"array","description":"An array of input text to be translated","items":{"type":"string"}},"model_id":{"type":"string","description":"Convienence input for legacy connections. Define a traget language by setting a source to target relationship using 2-digit language codes, for example en-es to translate into spanish.  The source language is ignored. Either this or the target parameter is required."},"target":{"type":"string","description":"The 2-digit language code for the target language.  Either this or the model_id parameter is required. Valid values are: en, aa, ab, ae, af, ak, am, an, ar, as, av, ay, az, ba, be, bg, bh, bi, bm, bn, bo, br, bs, ca, ce, ch, co, cr, cs, cu, cv, cy, da, de, dv, dz, ee, el, en, eo, es, et, eu, fa, ff, fi, fj, fo, fr, fy, ga, gd, gl, gn, gu, gv, ha, he, hi, ho, hr, ht, hu, hy, hz, ia, id, ie, ig, ii, ik, io, is, it, iu, ja, jv, ka, kg, ki, kj, kk, kl, km, kn, ko, kr, ks, ku, kv, kw, ky, la, lb, lg, li, ln, lo, lt, lu, lv, mg, mh, mi, mk, ml, mn, mr, ms, mt, my, na, nb, nd, ne, ng, nl, nn, no, nr, nv, ny, oc, oj, om, or, os, pa, pi, pl, ps, pt, pt-br, qu, rm, rn, ro, ru, rw, sa, sc, sd, se, sg, si, sk, sl, sm, sn, so, sq, sr, ss, st, su, sv, sw, ta, te, tg, th, ti, tk, tl, tn, to, tr, ts, tt, tw, ty, ug, uk, ur, uz, ve, vi, vo, wa, wo, xh, yi, yo, za, zh, zh-cn, zh-tw, zu, pt-br, zh-cn, zh-tw"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"word_count":{"type":"integer","description":"The word count."},"character_count":{"type":"integer","description":"The word count."},"detected_language":{"type":"string","description":"The 2-digit language code for the detected language."},"detected_language_confidence":{"type":"number","description":"The detected language confidence."},"translations":{"type":"array","items":{"type":"object","properties":{"translation":{"type":"string","description":"The translation"}}}}}}}}}},"security":[{"api_key":[]}]}},"/identify":{"post":{"tags":["Identify Language"],"summary":"Identify the source language","description":"Identify the source language","operationId":"IdentifyLanguage","requestBody":{"description":"The request object.","required":true,"content":{"text/plain":{"schema":{"type":"string","description":"The input text to identify the language of"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"The 2-character language code of the identified language."},"confidence":{"type":"number","description":"The confidence of the language identification."}}}}}}}},"security":[{"api_key":[]}]}},"/pii":{"post":{"tags":["Find PII"],"summary":"Find PII in a user utterance","description":"Find PII in a user utterance","operationId":"pii","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","description":"The user utterance to check for PII"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pii":{"type":"array","description":"An array of found PII","items":{"type":"string"}}}}}}}}},"security":[{"api_key":[]}]}},"/rate":{"post":{"tags":["Rate"],"summary":"Rate an answer","description":"Allow users to give feedback in on answers generated","operationId":"rate","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"answerId":{"type":"integer","description":"The answer id"},"score":{"type":"integer","minimum":0,"maximum":5,"description":"The rating score. An integer, 0-5. 0 is worst, 5 is best.  For Thumbs up / Thumbs down send 0 or 5"}}}}}},"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}},"/answerRatings":{"post":{"tags":["Answer Ratings"],"summary":"Get the user ratings for an answer","description":"Get the user ratings for an answer","operationId":"answerRatings","requestBody":{"description":"The request object.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"answerId":{"type":"integer","description":"The answer id"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"score":{"type":"number","description":"The average score for the answer.","minimum":0,"maximum":5},"total":{"type":"number","description":"The total number of user ratings for the answer."}}}}}}},"security":[{"api_key":[]}]}},"/score":{"post":{"tags":["Score"],"summary":"Run the Semantic Scoring model on text against an array of passages","description":"Run the Semantic Scoring model on text against an array of passages","operationId":"score","requestBody":{"description":"The request object.  Must include the question and a context.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","default":null,"description":"The text to score"},"passages":{"type":"array","description":"The rating score. An integer, 0-5. 0 is worst, 5 is best.  For Thumbs up / Thumbs down send 0 or 5","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}},"/train":{"post":{"tags":["Train"],"summary":"Submit KnowledgeBase Training","description":"Submit KnowledgeBase Training","operationId":"train","requestBody":{"description":"The request object.  Must include the question and a context.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"train":{"type":"string","description":"The training token. Get this from passages/train"},"score":{"type":"integer","minimum":0,"maximum":100,"description":"The relevancy score. An integer, 0-100"}}}}}},"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}},"/test":{"post":{"tags":["Test"],"summary":"Test questions via batch upload","description":"Test questions via batch upload","operationId":"test","requestBody":{"description":"The questions csv.  Must adhere to the template https://api.neuralseek.com/qa.csv After upload you will receive a 202 response and the server will begin processing.  Check for your completed results on the getTestResults endpoint.","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}},"/getTestResults":{"get":{"tags":["Test Results"],"summary":"Get Test Results","description":"Retrieve an results from the test endpoint","operationId":"getTestResults","responses":{"200":{"description":"Your results CSV"},"202":{"description":"Server still processing"}},"security":[{"api_key":[]}]}},"/analytics":{"post":{"tags":["Analytics"],"summary":"Instance Analytics","description":"Retrieve an analytics dataset for your instance","operationId":"analytics","requestBody":{"description":"The request object.  You may optionally limit the result set using \"count\"","required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of rows to return"}}}}}},"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}},"/logs":{"post":{"tags":["Logs"],"summary":"Instance Logs","description":"Retrieve logs for your instance","operationId":"logs","requestBody":{"description":"The request object.","required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","default":100,"minimum":1,"maximum":100,"description":"The number of rows to return, max of 100"},"skip":{"type":"integer","default":0,"minimum":0,"description":"The number of result sets to skip for paging"},"search":{"type":"string","description":"An optional search string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"The timestamp of the entry"},"question":{"type":"string","description":"The user question"},"answer":{"type":"string","description":"The answer returned"},"id":{"type":"integer","description":"The answer id"}}}}}}}},"security":[{"api_key":[]}]}},"/user_data":{"delete":{"tags":["User Data"],"summary":"Delete all user data","description":"This endpoint deletes all user data","operationId":"UserData","parameters":[{"in":"query","name":"intent","description":"The intents to delete. If left blank all intents will be deleted.","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Success"}},"security":[{"api_key":[]}]}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}},"schemas":{"seek":{"type":"object","required":["question"],"properties":{"question":{"type":"string","description":"The user's question for NeuralSeek"},"user_session":{"type":"object","properties":{"metadata":{"type":"object","properties":{"user_id":{"type":"string","description":"A unique user identifier."}}},"system":{"type":"object","properties":{"session_id":{"type":"string","description":"A session identifier for the defined user."}}}},"description":"Context tracking object. You must set at least one of user_id or session_id to enable context keeping."},"options":{"type":"object","properties":{"personalize":{"type":"object","description":"An object that allows NeuralSeek to tailor a response for a specific user","properties":{"preferredName":{"type":"string","description":"The name the user should be referred to by"},"noWelcome":{"type":"string","description":"The user has already been welcomed, do not re-welcome.  Valid value is 'true' or 'false'.  Default value is 'false'."},"forceFirstPerson":{"type":"string","description":"Use a first-person speaking style, even if no preferredName is set.  Valid value is 'true' or 'false'.  Default value is 'false'."},"products":{"type":"array","description":"An array of products this customer currently consumes from your company","items":{"type":"string"}},"additionalDetails":{"type":"string","description":"Additional details to pass to language generation"}}},"override":{"type":"string","description":"Override all settings by passing a NeuralSeek configuration.  Pass the full and exact text in a NeuralSeek configuration .dat file"},"streaming":{"type":"boolean","default":false,"description":"Return the response via SSE streaming.  This is not compatible with most Virtual Agent platforms, and is intentded for direct website use."},"seekLLM":{"type":"string","description":"Override the LLM load balancer and force seek to use a specific LLM.  Input the LLM code here.  You must have a valid model card set up on the configure tab for the code you input."},"language":{"type":"string","description":"Valid values are: en, xx, aa, ab, ae, af, ak, am, an, ar, as, av, ay, az, ba, be, bg, bh, bi, bm, bn, bo, br, bs, ca, ce, ch, co, cr, cs, cu, cv, cy, da, de, dv, dz, ee, el, en, eo, es, et, eu, fa, ff, fi, fj, fo, fr, fy, ga, gd, gl, gn, gu, gv, ha, he, hi, ho, hr, ht, hu, hy, hz, ia, id, ie, ig, ii, ik, io, is, it, iu, ja, jv, ka, kg, ki, kj, kk, kl, km, kn, ko, kr, ks, ku, kv, kw, ky, la, lb, lg, li, ln, lo, lt, lu, lv, mg, mh, mi, mk, ml, mn, mr, ms, mt, my, na, nb, nd, ne, ng, nl, nn, no, nr, nv, ny, oc, oj, om, or, os, pa, pi, pl, ps, pt, pt-br, qu, rm, rn, ro, ru, rw, sa, sc, sd, se, sg, si, sk, sl, sm, sn, so, sq, sr, ss, st, su, sv, sw, ta, te, tg, th, ti, tk, tl, tn, to, tr, ts, tt, tw, ty, ug, uk, ur, uz, ve, vi, vo, wa, wo, xh, yi, yo, za, zh, zh-cn, zh-tw, zu, pt-br, zh-cn, zh-tw"},"filter":{"type":"string","description":"Text to use as a filter against the filter field set in the KnowledgeBase configuration. Use commas to separate multiple strings for an 'or' filter. You can use the filter to isolate a certain subset of documents in the knowledgebase."},"company":{"type":"string","description":"The company or Brand.  If bias is enabled, bias will be towards this thing."},"semanticScore":{"type":"object","properties":{"enabled":{"type":"string","description":"Enable the semantic Score model.  Valid values are the strings 'true' and 'false'"},"primary":{"type":"string","description":"Use the Semantic Score for minimum and warning confidence thresholds.  Valid values are the strings 'true' and 'false'"}}},"lastTurn":{"type":"array","description":"lastTurn is a flexible object. It is backwards compatible with the original single turn object, as well as compatible with the Watson Assistant session history format.","items":{"type":"object","properties":{"input":{"type":"string","description":"The user input"},"response":{"type":"string","description":"The system response.  Text strings only here. "}}}},"pullToCompany":{"type":"string","description":"Enable company bias.  Valid values are the strings 'true' and 'false'"},"promptEngineering":{"type":"string","description":"Enable Prompt engineering.  Valid values are the strings 'true' and 'false'"},"promptEngineeringPhrase":{"type":"string","description":"Prepend a phrase to cleansed user input. Must enable Prompt Engineering inside the NeuralSeek \"Configure\" page"},"answerEngineering":{"type":"string","example":"[{'re':'/hi/gi', 'rp':'Bye!'}]","description":"An array of objects, stringified."},"warnConfidence":{"type":"integer","example":"5","minimum":0,"maximum":100,"description":"A whole number from 0 to 100"},"warnConfidenceText":{"type":"string","description":"Text to prepend on warning confidence levels"},"minConfidence":{"type":"integer","example":"0","minimum":0,"maximum":100,"description":"A whole number from 0 to 100"},"minConfidenceText":{"type":"string","description":"Text to respond with for blocked minimum confidence responses"},"misTolerance":{"type":"integer","example":"0","minimum":0,"maximum":100,"description":"Misinformation Tolerance. A whole number from 0 to 100"},"sensitiveText":{"type":"string","description":"Text to respond with for blocked sensitive responses"},"minText":{"type":"string","description":"Text to respond with for blocked minimum word responses"},"maxWords":{"type":"string","description":"Text to respond with for blocked maximum word responses"},"maxWordsNumber":{"type":"integer","minimum":1,"maximum":100,"description":"A whole number from 1 to 100.  100 is unlimited."},"answerLength":{"type":"integer","minimum":1,"maximum":4,"description":"The verbosity of the answer. A whole number 1-4"},"url":{"type":"string","description":"URL of the current page when using with a web-based Virtual Agent"},"stump":{"type":"string","description":"Stump Speech text. Fallback for when all else fails."},"includeSourceResults":{"type":"boolean","default":false,"description":"Include generation source results. Defaults to false."},"includeSourceResultsFormatted":{"type":"boolean","default":false,"description":"Include generation source results, and output them into a formatted string.  Defaults to false."},"sourceResultsNumber":{"type":"integer","default":3,"minimum":1,"maximum":30,"description":"When including source results, how many to include.'"},"sourceResultsSummaryLength":{"type":"integer","default":100,"minimum":0,"maximum":2000,"description":"When including source results, how long of a summary to include.'"}},"description":"Optional object for runtime override of Seek options."}}},"seek_response":{"type":"object","required":["answer","score"],"properties":{"answer":{"type":"string","description":"The generated answer"},"answerId":{"type":"string","description":"The id of the answer. Use this to refer to it from other endpoints, such as the Rating endpoint"},"thumbs":{"type":"string","description":"The URL of a rating SVG to embed with the answer to allow easy rating."},"intent":{"type":"string","description":"The intent of the answer."},"category":{"type":"integer","description":"The category id of the answer."},"categoryName":{"type":"string","description":"The category name of the answer."},"score":{"type":"integer","description":"The final confidence score of the answer (0-100)"},"KBscore":{"type":"integer","description":"The KnowledgeBase confidence of the answer's source documentation  (0-100)"},"cachedResult":{"type":"string","description":"If the result came from cache, will be set to the string 'true'"},"langCode":{"type":"string","description":"The language code of the answer. If you set the input language code to 'xx' to identify the language, this is useful to condition of the found language and response."},"url":{"type":"string","description":"The top scoring URL (if available) used to train the answer. Set the field you want returned here in on the Configure tab. The field must contain a URL, or it will be ignored."},"document":{"type":"string","description":"The top document (if available) used to train the answer. Set the field you want returned here in on the Configure tab"},"time":{"type":"integer","description":"Total processing time in milliseconds"},"kbTime":{"type":"integer","description":"KnowledgeBase response time in milliseconds"},"sourceResultsFormatted":{"type":"string","description":"A listing of the passages used for answer summarization. This will only return if includeSourceResultsFormatted is set to true on the request"},"passages":{"description":"A listing of the passages used for answer summarization. This will only return if includeSourceResults is set to true on the request","type":"array","items":{"type":"object","properties":{"passage":{"type":"string","description":"The passage text, summarized to the length set by sourceResultsSummaryLength"},"id":{"type":"string","description":"The id of the source document in the KB."},"score":{"type":"integer","description":"The score of the passage."},"url":{"type":"string","description":"The URL (if available) of the source document."},"document":{"type":"string","description":"The name of the source document."},"train":{"type":"string","description":"The training token for the document. Use this when calling the /train endpoint."}}}},"kbCoverage":{"type":"integer","description":"KnowledgeBase coverage score. How much content was returned from the KnowledgeBase on the subject asked as compared to benchmarks. Low coverage is not necessarily indicitive of bad content."},"sentiment":{"type":"integer","description":"Sentiment score","minimum":0,"maximum":9},"semanticScore":{"type":"integer","description":"Semantic score (if enabled)","minimum":0,"maximum":100}}}}},"externalDocs":{"url":"https://neuralseek.com/documentation","description":"Documentation"}}